@model GroupViewModel

<form asp-controller="Group" asp-action="Edit" asp-antiforgery="true" method="post">
    <div>
        <asp-for="Id">
        <input asp-for="Id" />
        <span asp-validation-for="Id"></span>
    </div>
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <button type="submit">Edit</button>
</form>
